<!DOCTYPE html>
<html ng-app="trTestTask<% if (dev) {%>.dev<%}%>" ng-controller="AppCtrl">
  <head>
    <title>DataGrid Control Panel</title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>

  <body>
    <div id="main-wrap">
      <h1>DataGrid Control Panel</h1>

      <div id='content'>
        <header class='clearfix'>
          <h2 class='pull-left'>DATA<span>GRID</span></h2>
          <div class='pull-right clearfix'>
            <a href=''>FAQ</a>
            <a href=''>Help</a>
            <input placeholder='Search'>
          </div>
        </header>
        <nav class='clearfix'>
          <div class='pull-left'>
            <a class='home' href='#/home'><img ng-src='assets/home.png' class="icon-home"></a>
            <a class='preview selected' href='#/preview'>Preview</a>
            <a class='activity' href='#/activity'>Activity</a>
            <a class='control' href='#/control'>Control</a>
            <a class='issue' href='#/issue'>Issue</a>
            <a class='overview' href='#/overview'>Overview</a>
          </div>
          <div class='pull-right'>
            <a class='my-profile' href='#/profile'>My Profile</a>
            <a class='admin' href='#/admin'>Admin</a>
          </div>
        </nav>
        <div id='container-wrap' scrollbar-on-hover>
          <google-spreadsheet highlight-on-hover id='data'></google-spreadsheet>
        </div>
      </div>
    </div>
  </body>
</html>
